﻿@using static ASI.Basecode.Resources.Views.Screen

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap"> <!-- Import Montserrat font -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- Import Icon/s -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"> <!--flatpickr-->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/userModal.css" />
    <link rel="stylesheet" href="~/css/roomModal.css" />
    <link rel="stylesheet" href="~/css/bookingModal.css" />
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/sidebar.css" />
    <link rel="stylesheet" href="~/css/dashboard.css" />
    <link rel="stylesheet" href="~/css/searchbar.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    @RenderSection("Styles", required: false)
</head>
<body>
    <div class="main-container">
        @if (User.Identity.IsAuthenticated)
        {
            @Html.Partial("_Sidebar")
        }
        <div class="content-container">
            @Html.Partial("_Header")
            <main class="main-layout">
                @RenderBody()
            </main>
        </div>
        @* <footer class="border-top footer text-muted">
        <div class="container">
        @Copyright
        </div>
        </footer> *@
    </div>


    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script><!--flatpickr-->
    <script src="https://kit.fontawesome.com/7a7c645416.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/dropdown.js" asp-append-version="true"></script>
    <script src="~/js/modal.js" asp-append-version="true"></script>
    <script src="~/js/toastr.js" asp-append-version="true"></script>
    <script src="~/js/passwordtoggle.js" asp-append-version="true"></script>
    <script src="~/js/seachbar.js" asp-append-version="true"></script>
    <script src="~/js/status-ui.js" asp-append-version="true"></script>
    <script>
        var errorMessage = @Html.Raw(Json.Serialize(TempData["ErrorMessage"]));
        var successMessage = @Html.Raw(Json.Serialize(TempData["SuccessMessage"]));
    </script>
    <script>
        // Configure Toastr options
        toastr.options = {
            positionClass: "toast-top-center", // Set the notification position to center
            timeOut: 3000,
            closeButton: true,
            progressBar: true
        };
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>