@using ASI.Basecode.Services.ServiceModels
@model IEnumerable<BookingViewModel>
@{
    ViewData["Title"] = "Bookings";
    ViewBag.Rooms = ViewData["rooms"] as IEnumerable<ASI.Basecode.Services.ServiceModels.RoomViewModel>;
}

@section styles {
    <link rel="stylesheet" href="~/css/bookingdashboard.css" />
}

<div class="dashboard-header">
    <h1>Bookings</h1>
    <div class="dashboard-header-right" >
        <div class="filter" onclick="displayModal('#filterModal')">
            <i class="fa fa-filter"></i>
        </div>
        @Html.Partial("_SearchBarPartial")
    </div>
</div>

<div class="table-container">
    <div class="user-row header">
        <div class="user-cell">BOOKING ID</div>
        <div class="user-cell">NAME</div>
        <div class="user-cell">ROOM</div>
        <div class="user-cell">DATE</div>
        <div class="user-cell">TIME</div>
        <div class="user-cell">RECURRENCE</div>
        <div class="user-cell">STATUS</div>
        <div class="user-cell"></div>
    </div>
    <ul class="user-list">
        @foreach (var item in Model)
        {
            var timeFrom = new DateTime(item.TimeFrom.Value.Ticks).ToString("h:mm tt").ToUpper();
            var timeTo = new DateTime(item.TimeTo.Value.Ticks).ToString("h:mm tt").ToUpper();
            var nameColumn = $"{item.modelUser.FirstName} {item.modelUser.LastName}<br>{item.modelUser.Email}";
            var dateColumn = $"{(item.StartDate.HasValue ? item.StartDate.Value.ToString("MMMM dd, yyyy") : string.Empty)} - {(item.EndDate.HasValue ? item.EndDate.Value.ToString("MMMM dd, yyyy") : string.Empty)}";
            var timeColumn = $"{timeFrom}<br>{timeTo}";
            <li class="user-row">
                <div class="user-cell" data-label="BOOKING ID">@Html.DisplayFor(modelItem => item.BookingId)</div>
                <div class="user-cell" data-label="NAME">@Html.Raw(nameColumn)</div>
                <div class="user-cell" data-label="ROOM">@Html.DisplayFor(modelItem => item.modelRoom.RoomName)</div>
                <div class="user-cell" data-label="DATE">@Html.Raw(dateColumn)</div>
                <div class="user-cell" data-label="TIME">@Html.Raw(timeColumn)</div>
                <div class="user-cell" data-label="RECURRENCE">
                    @if (item.Recurrence.Count() > 0)
                    {
                        @foreach (var recurrence in item.Recurrence)
                        {
                            if(recurrence.DayOfWeek != null)
                            {
                                var dayName = recurrence.DayOfWeek.DayName.Substring(0, 3);
                                @Html.DisplayFor(modelItem => dayName)
                                if (recurrence != item.Recurrence.Last())
                                {
                                    <text>, </text>
                                }
                            }
                        }
                    }
                    else if (item.Recurrence.Count() == 7)
                    {
                        <text>Daily</text>
                    }
                    else
                    {
                        <text>None</text>
                    }
                </div>
                <div class="user-cell" data-label="STATUS"><span class="status">@Html.DisplayFor(modelItem => item.BookingStatus)</span></div>
                <div class="user-cell actions">
                    <div class="mr-20 hover-pointer dropdown-trigger" data-id="@item.BookingId">
                        <span class="ddicon">&#8942;</span>
                    </div>
                </div>
            </li>
        }

    </ul>
    <div class="dropdown-action">
        <ul>
            <li>
                <form asp-action="ApproveBooking" method="post">
                    <input type="hidden" name="bookingId" />
                    <button type="submit" class="btn-status">
                        <i class="fas fa-circle" style="color: #00FF75; font-size: 10px;"></i> Approve
                    </button>
                </form>
            </li>
            <li>
                <form asp-action="RejectBooking" method="post">
                    <input type="hidden" name="bookingId" />
                    <button type="submit" class="btn-status">
                        <i class="fas fa-circle" style="color: #FF0000; font-size: 10px;"></i> Reject
                    </button>
                </form>
            </li>
            <li>
                <button type="button" class="btn-status" onclick="displayModal('#confirmationBookingDeleteModal'); passId(this, '#confirmDeleteBtn');">
                    <i class="fas fa-trash-alt" style="color: #FF0000; font-size: 10px;"></i> Delete
                </button>
            </li>
        </ul>
    </div>

</div>

@Html.Partial("_BookingsConfirmationModal")
@Html.Partial("_FilterBookingsModal")