@model ASI.Basecode.Services.ServiceModels.BookingViewModel;


<!-- Create Booking Modal -->
<div class="modal fade" id="createBookingModal" tabindex="-1" role="dialog" aria-labelledby="createBookingModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createBookingModalLabel">Add Booking</h5>

            </div>
            <div class="modal-body">
                <form asp-action="CreateBookingPost" id="createBookingForm" method="post">
                    <input type="hidden" asp-for="roomList" value="@Model.roomList" />
                    <input type="hidden" asp-for="Days" value="@Model.Days" />
                    <div class="form-group">
                        <label for="roomName">Room Name</label>
                        <input asp-for="RoomId" name="RoomId" id="roomId" type="hidden" />
                        <input asp-for="RoomName" name="RoomName" id="roomName" type="text" readonly />
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="startDate">Start</label>
                            <div class="input-group date" id="datepicker">
                                <input asp-for="StartDate" type="datetime-local" class="form-control" id="startDate" name="StartDate" placeholder="Select Date" required />
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="endDate">End</label>
                            <div class="input-group date" id="datepicker">
                                <input asp-for="EndDate" type="datetime-local" class="form-control" id="endDate" name="EndDate" placeholder="Select Date" required/>
                            </div>
                        </div>
                    </div>
                    <span class="text-danger" id="errorMessage"></span>

                    <div class="form-group setRecurrence">
                        <button type="button" class="btn btn-outline-secondary active" id="scheduleOnceButton">Schedule Once</button>
                        <button type="button" class="btn btn-outline-secondary" id="customButton">Custom</button>
                    </div>
                    <div class="custom-recur">
                        <label class="custom-recur-title"> Repeat </label>
                        <div class="checkbox-recur">
                            @foreach (var day in Model.Days)
                            {
                                bool isSelected = Model.DayOfTheWeekIds != null && Model.DayOfTheWeekIds.Any(r => r == day.DayOfWeekId);

                                <input type="checkbox" onchange="checkBookingConflict()" id="dayOfTheWeekIds" name="DayOfTheWeekIds" value="@day.DayOfWeekId" @(isSelected ? "checked" : "")>
                                <label for="@day.DayName.ToLower()">@day.DayName.Substring(0, 3)</label>

                                <br>
                            }
                        </div>
                    </div>
                    

                    <div class="button-group">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-custom">Done</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


