@using ASI.Basecode.Services.ServiceModels

@{
    ViewData["Title"] = "Reports";
    var barChartData = ViewData["BarChartData"] as List<int>;
    var lineChartData = ViewData["LineChartData"] as List<int>;
    var userBookingFrequenciesJson = Json.Serialize(ViewData["UserBookingFrequencies"]);
    var roomUsageSummariesJson = Json.Serialize(ViewData["RoomUsageSummaries"]);
}
@section styles {
    <link rel="stylesheet" href="~/css/reportsAndAnalytics.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.14/jspdf.plugin.autotable.min.js"></script>
}

<div class="dashboard-header">
    <h1>Reports & Analytics</h1>
</div>
<div class="reports-container">
    <div class="first-header">
        <h1>Booking Summary</h1>
    </div>
    <div class="container-first">
        <div class="graph-header">
            <div>
                <h2>Room Booking Overview</h2>
            </div>
        </div>
        <div class="graphs">
            <canvas id="barChart"></canvas>
        </div>
    </div>
    <div class="container-first">
        <div class="graph-header">
            <div class="graph-header" style="display: flex; justify-content: space-between; align-items: center;">
                <h2>Daily Booking Trends</h2>
                <div class="dropdown-container" style="width: 200px;">
                    <select id="monthSelector" onchange="updateLineChart()" style="width: 100%;">
                        <option value="1">January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="graphs">
            <canvas id="lineChart"></canvas>
        </div>
    </div>
    <div class="container-first">
        <div class="graph-header">
            <div>
                <h2>User Booking Frequency</h2>
            </div>
        </div>
        <div class="table-userbooking">
            <div class="tablereport-header">
                <div class="report-cell">User Name</div>
                <div class="report-cell">No. of Bookings</div>
                <div class="report-cell">Last Booking Date</div>
                <div class="report-cell">Most Booked Room</div>
                <div class="report-cell">Total Duration (Hrs)</div>
            </div>
            <div class="tablereport-body">
                @foreach (var user in ViewData["UserBookingFrequencies"] as List<UserBookingFrequency>)
                {
                    <li class="user-row">
                        <div class="user-cell" data-label="User Name">@Html.DisplayFor(modelItem => user.UserName)</div>
                        <div class="user-cell" data-label="No. of Bookings">@Html.DisplayFor(modelItem => user.NoOfBookings)</div>
                        <div class="user-cell" data-label="Last Booking Date">@DateTime.Parse(user.LastBookingDate).ToString("MMM dd, yyyy")</div>
                        <div class="user-cell" data-label="Most Booked Room">@Html.DisplayFor(modelItem => user.MostBookedRoom)</div>
                        <div class="user-cell" data-label="Total Duration(Hrs)">@Html.DisplayFor(modelItem => user.TotalDuration)</div>
                    </li>
                }
            </div>
        </div>
    </div>
    <div class="first-header">
        <h1>Room Usage Summary</h1>
    </div>
    <div class="container-first">
        <div class="table-userbooking">
            <div class="tablereport-header">
                <div class="report-cell">Room Name</div>
                <div class="report-cell">Total Booking</div>
                <div class="report-cell">Peak Day</div>
                <div class="report-cell">Peak Time</div>
                <div class="report-cell">Total Duration (Hrs)</div>
            </div>
            <div class="tablereport-body">
                @foreach (var room in ViewData["RoomUsageSummaries"] as List<RoomUsageSummary>)
                {
                    <li class="user-row">
                        <div class="user-cell" data-label="Room Name">@Html.DisplayFor(modelItem => room.RoomName)</div>
                        <div class="user-cell" data-label="Total No. Bookings">@Html.DisplayFor(modelItem => room.TotalBooking)</div>
                        <div class="user-cell" data-label="Peak Day">@Html.DisplayFor(modelItem => room.PeakDay)</div>
                        <div class="user-cell" data-label="Peak Time">@Html.DisplayFor(modelItem => room.PeakTime)</div>
                        <div class="user-cell" data-label="Total Duration(Hrs)">@Html.DisplayFor(modelItem => room.TotalDuration)</div>
                    </li>
                }
            </div>
        </div>
    </div>
        <button id="exportButton" type="button" class="export-button"></i>Export to PDF</button>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script src="~/js/reportsAndAnalytics.js"></script>
<script>
    let lineChart;

    document.addEventListener('DOMContentLoaded', function () {
        const currentMonth = new Date().getMonth() + 1; // getMonth() returns 0-11, so add 1
        document.getElementById('monthSelector').value = currentMonth;

        const ctx = document.getElementById('barChart').getContext('2d');
        const ctx2 = document.getElementById('lineChart').getContext('2d');

        const barchart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                datasets: [{
                    label: 'No. of Bookings',
                    data: @Html.Raw(Json.Serialize(barChartData)).$values,
                    borderColor: 'rgb(229, 158, 176)',
                    backgroundColor: 'rgb(229, 158, 176)',
                    borderWidth: 2,
                    fill: true,
                    tension: 0.4
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        display: true
                    }
                },
                scales: {
                    x: {
                        title: {
                            display: true,
                            text: 'Month'
                        }
                    },
                    y: {
                        title: {
                            display: true,
                            text: 'No. of Bookings'
                        },
                        beginAtZero: true
                    }
                }
            }
        });

        lineChart = new Chart(ctx2, {
            type: 'line',
            data: {
                labels: generateDaysOfMonth(),
                datasets: [{
                    label: 'No. of Daily Booking',
                    data: @Html.Raw(Json.Serialize(lineChartData)).$values,
                    borderColor: 'rgb(229, 158, 176)',
                    backgroundColor: 'rgb(229, 158, 176)',
                    borderWidth: 2,
                    fill: false,
                    tension: 0.1
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        display: false
                    }
                },
                scales: {
                    x: {
                        title: {
                            display: true,
                            text: 'Days'
                        }
                    },
                    y: {
                        title: {
                            display: true,
                            text: 'Bookings'
                        },
                        beginAtZero: true
                    }
                }
            }
        });

        document.getElementById('monthSelector').addEventListener('change', function () {
            updateLineChart();
        });
    });

    function generateDaysOfMonth() {
        const monthSelector = document.getElementById("monthSelector");
        const selectedMonth = parseInt(monthSelector.value, 10);

        const days = [];
        const currentDate = new Date();
        const year = currentDate.getFullYear();

        const daysInMonth = new Date(year, selectedMonth, 0).getDate();

        for (let day = 1; day <= daysInMonth; day++) {
            days.push(day.toString().padStart(2, '0'));
        }

        return days;
    }

    function updateLineChart() {
        const monthSelector = document.getElementById("monthSelector");
        const selectedMonth = monthSelector.value;

        console.log(`Selected month: ${selectedMonth}`);

        fetch(`/MMAnalytics/GetDailyBookings?month=${selectedMonth}`)
            .then(response => {
                console.log('Response received:', response);
                return response.json();
            })
            .then(data => {
                console.log('Data received:', data);

                if (data.$values) {
                    data = data.$values;
                } else {
                    console.error('Unexpected data format:', data);
                    return;
                }
                const daysOfMonth = generateDaysOfMonth();
                lineChart.data.labels = daysOfMonth;
                lineChart.data.datasets[0].data = data;
                lineChart.update();

            })
            .catch(error => {
                console.error('Error fetching daily bookings:', error);
            });
    }

    document.getElementById('exportButton').addEventListener('click', async function () {
        const { jsPDF } = window.jspdf;

        if (!jsPDF) {
            console.error('jsPDF is not loaded correctly.');
            return;
        }

        const doc = new jsPDF();

        const exportDate = new Date().toLocaleDateString();
        doc.text(`Report Date: ${exportDate}`, 10, 10);

        // Capture graphs as images
        const graphElements = document.querySelectorAll('.graphs canvas');

        const headerColor = [229, 158, 176];

        for (let i = 0; i < graphElements.length; i++) {
            const canvas = await html2canvas(graphElements[i], { scale: 2 });
            const imgData = canvas.toDataURL('image/png');
            const imgWidth = 190; // A4 width minus margins in mm
            const imgHeight = (canvas.height * imgWidth) / canvas.width;

            if (i === 0) {
                doc.text('Room Booking Overview', 10, 20); 
                doc.addImage(imgData, 'PNG', 10, 30, imgWidth, imgHeight); 
            } else if (i === 1) {
                const monthSelector = document.getElementById('monthSelector');
                const selectedMonth = monthSelector.options[monthSelector.selectedIndex].text;
                doc.addPage();
                doc.text(`Daily Booking Trends (${selectedMonth})`, 10, 10); 
                doc.addImage(imgData, 'PNG', 10, 20, imgWidth, imgHeight); 
            }

            // Add table for graph data
            let graphData;
            let tableHeader;
            if (i === 0) {
                // Bar Chart Data
                const months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
                graphData = @Html.Raw(Json.Serialize(barChartData)).$values.map((value, index) => [months[index], value]);
                tableHeader = [['Month', 'No. of Bookings']];
                doc.autoTable({
                    startY: 40 + imgHeight, 
                    head: tableHeader,
                    body: graphData,
                    headStyles: { fillColor: headerColor }, 
                    styles: { fillColor: [255, 255, 255], textColor: [0, 0, 0] }, 
                });
            } else if (i === 1) {
                // Line Chart Data
                graphData = @Html.Raw(Json.Serialize(lineChartData)).$values.map((value, index) => [index + 1, value]);
                tableHeader = [['Day', 'No. of Bookings']];
                doc.autoTable({
                    startY: 30 + imgHeight, 
                    head: tableHeader,
                    body: graphData,
                    styles: { fontSize: 8, cellPadding: 1, fillColor: [255, 255, 255], textColor: [0, 0, 0] }, // Adjust font size, cell padding, row color
                    headStyles: { fillColor: headerColor }, 
                    margin: { top: 20 }
                });
            }
        }

        // Add User Booking Frequency Table
        const userBookingFrequencyTable = document.querySelector('.table-userbooking:nth-of-type(1) .tablereport-body');
        if (userBookingFrequencyTable) {
            const userBookingFrequencyRows = Array.from(userBookingFrequencyTable.children).map(row => {
                return Array.from(row.children).map(cell => cell.textContent);
            });
            doc.addPage();
            doc.text('User Booking Frequency', 10, 10); 
            doc.autoTable({
                startY: 20, 
                head: [['User Name', 'No. of Bookings', 'Last Booking Date', 'Most Booked Room', 'Total Duration (Hrs)']],
                body: userBookingFrequencyRows,
                headStyles: { fillColor: headerColor }, 
                styles: { fillColor: [255, 255, 255], textColor: [0, 0, 0] }, 
            });
        }

        // Add Room Usage Summary Table
        const roomUsageSummaryTable = document.querySelector('.table-userbooking:nth-of-type(2) .tablereport-body');
        if (roomUsageSummaryTable) {
            const roomUsageSummaryRows = Array.from(roomUsageSummaryTable.children).map(row => {
                return Array.from(row.children).map(cell => cell.textContent);
            });
            doc.addPage();
            doc.text('Room Usage Summary', 10, 10); 
            doc.autoTable({
                startY: 20, 
                head: [['Room Name', 'Total Booking', 'Peak Day', 'Peak Time', 'Total Duration (Hrs)']],
                body: roomUsageSummaryRows,
                headStyles: { fillColor: headerColor }, 
                styles: { fillColor: [255, 255, 255], textColor: [0, 0, 0] }, 
            });
        }

        doc.save('ReportsAndAnalytics.pdf');
    });



</script>
