@model LoginViewModel
@using static ASI.Basecode.Resources.Views.Screen
@section styles {
    <link rel="stylesheet" href="~/css/login.css" />
}
@{
    ViewBag.LoginView = true;
    ViewData["Title"] = "Login Page";
}
<div>
    @Html.AntiForgeryToken()
</div>
<html>
<body>
    <div class="card-container">
        <div class="image-container">
            <img src="~/img/login-image.jpg" alt="Login Image">
        </div>
        <div class="login-form">
            <div class="login-header">
                <img src="~/img/Logo1.png" alt="Logo">
                <h2>Welcome Back!</h2>
                <p>Please enter your details</p>
            </div>
            <form method="post" action="/Account/Login" id="loginForm">
                <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example11">Email</label>
                    <input type="text" id="form2Example11" class="form-control"
                           asp-for="Email" placeholder="Enter email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example22">@Password</label>
                    <input type="password" id="form2Example22" class="form-control"
                           asp-for="Password" placeholder="Enter password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="text-center pt-1 mb-5 pb-1 d-flex flex-column align-items-center">
                    <button class="btn btn-primary btn-block login-btn gradient-custom-2 mb-3" type="submit">
                        @Login
                    </button>
                </div>
            </form>
            <div class="contact-info">
                <p>For inquiries, you can contact <a href="mailto:alliance@asi-dev2.com">alliance@asi-dev2.com</a> for assistance</p>
            </div>
        </div>
    </div>
</body>
</html>

@section scripts {
    <script>
        function togglePasswordVisibility() {
            const passwordInput = document.getElementById('password');
            const eyeButton = document.querySelector('.toggle-password img');
            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                eyeButton.src = '@Url.Content("~/img/crossed-eye.svg")' // Ensure this path is correct
            } else {
                passwordInput.type = 'password';
                eyeButton.src = '@Url.Content("~/img/eye.svg")';
            }
        }
        // Check for error message and display Toastr notification
        var errorMessage = '@TempData["ErrorMessage"]';
        if (errorMessage) {
            toastr.error(errorMessage);
        }
    </script>
}