@using ASI.Basecode.Services.ServiceModels

@model UserViewModel 
@{
    ViewData["Title"] = "User Dashboard";
    IEnumerable<ASI.Basecode.Services.ServiceModels.UserViewModel> users = ViewData["users"] as IEnumerable<ASI.Basecode.Services.ServiceModels.UserViewModel>;
}

@section styles {
    <link rel="stylesheet" href="~/css/admindashboard.css" />
}

<div class="dashboard-header">
    <h1>Users</h1>
    <button type="button" class="create-user-btn" onclick="displayModal('#createUserModal')"> <img src="~/img/add-logo.png" />Create User</button>
</div>

<div class="table-container">
    <div class="user-row header">
        <div class="user-cell">Room Name</div>
        <div class="user-cell">Date</div>
        <div class="user-cell">Time from</div>
        <div class="user-cell">Time to</div>
        <div class="user-cell">Recurrence</div>
        <div class="user-cell"></div>
    </div>
    <ul class="user-list">
        @foreach (var item in users)
        {
            <li class="user-row">
                <div class="user-cell" data-label="USER ID">@Html.DisplayFor(modelItem => item.UserId)</div>
                <div class="user-cell" data-label="EMAIL">@Html.DisplayFor(modelItem => item.Email)</div>
                <div class="user-cell" data-label="FIRST NAME">@Html.DisplayFor(modelItem => item.FirstName)</div>
                <div class="user-cell" data-label="LAST NAME">@Html.DisplayFor(modelItem => item.LastName)</div>
                <div class="user-cell" data-label="ROLE">@Html.DisplayFor(modelItem => item.RoleName)</div>
                <div class="user-cell actions">
                    <div class="mr-20 hover-pointer dropdown-trigger" data-id="@item.UserId">
                        <span class="ddicon">&#8942;</span>
                    </div>
                </div>
            </li>
        }
       
    </ul>
    <div class="dropdown-action">
        <ul>
            <li>
                <form asp-action="ActivateUser" method="post">
                    <input type="hidden" name="userId" />
                    <button type="submit" class="btn-status">
                        <i class="fas fa-circle" style="color: #00FF75; font-size: 10px;"></i> Activate
                    </button>
                </form>
            </li>
            <li>
                <form asp-action="RestrictUser" method="post">
                    <input type="hidden" name="userId" />
                    <button type="submit" class="btn-status">
                        <i class="fas fa-circle" style="color: #FF0000; font-size: 10px;"></i> Restrict
                    </button>
                </form>
            </li>
            <li>
                <button type="button" class="btn-status" onclick="displayModal('#editUserModal'); getUserDetails(this, '#editUserModal', 'GetUserDetails', 'AAUser');">
                    <i class="fas fa-edit" style=" font-size: 10px;"></i> Edit
                </button>
            </li>
            <li>
                <button type="button" class="btn-status" onclick="displayModal('#confirmationDeleteModal'); passId(this, '#confirmDeleteBtn');">
                    <i class="fas fa-trash-alt" style="color: #FF0000; font-size: 10px;"></i> Delete
                </button>
            </li>
        </ul>
    </div>

</div>

@Html.Partial("_ConfirmationModal")
@Html.Partial("_CreateUserModal")
@Html.Partial("_EditUserModal")


@section scripts {
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            let statusCells = document.querySelectorAll('.user-cell[data-label="STATUS"] span');

            statusCells.forEach((cell) => {
                let statusText = cell.textContent.trim().toLowerCase();

                switch (statusText) {
                    case 'active':
                        cell.classList.add('status-active');
                        break;
                    case 'restricted':
                        cell.classList.add('status-restricted');
                        break;
                    case 'pending':
                        cell.classList.add('status-pending');
                        break;
                    default:
                        // Add a default style or leave it as is
                        break;
                }
            });



        });
    </script>
}
