@model ASI.Basecode.Services.ServiceModels.RoomViewModelList

@{
    ViewData["Title"] = "Index";
}

<div class="dashboard-header">
    <h1>Rooms</h1>
    <button type="button" class="create-user-btn" data-toggle="modal" data-target="#createRoomModal">
        <img src="~/img/add-logo.png" />Create Room
    </button>
</div>

@Html.Partial("_CreateRoomModal", new ASI.Basecode.Services.ServiceModels.RoomViewModel())

<div class="table-container">
    <div class="user-row header">
        <div class="user-cell">ROOM ID</div>
        <div class="user-cell">ROOM NAME</div>
        <div class="user-cell">DESCRIPTION</div>
        <div class="user-cell">CAPACITY</div>
        <div class="user-cell">LOCATION</div>
        <div class="user-cell">EQUIPMENTS</div>
        <div class="user-cell"></div>
    </div>
    <ul class="user-list">
        @foreach (var item in Model.roomList)
        {
            <li class="user-row">
                <div class="user-cell" data-label="ROOM ID">@Html.DisplayFor(modelItem => item.RoomId)</div>
                <div class="user-cell" data-label="ROOM NAME">@Html.DisplayFor(modelItem => item.RoomName)</div>
                <div class="user-cell" data-label="DESCRIPTION">@Html.DisplayFor(modelItem => item.Description)</div>
                <div class="user-cell" data-label="CAPACITY">@Html.DisplayFor(modelItem => item.Capacity)</div>
                <div class="user-cell" data-label="LOCATION">@Html.DisplayFor(modelItem => item.Location)</div>
                <div class="user-cell" data-label="EQUIPMENTS">
                    @if (item.RoomEquipments != null && item.RoomEquipments.Any())
                    {
                        @string.Join(", ", item.RoomEquipments.Select(e => e.EquipmentName))
                    }
                    else
                    {
                        <span>No equipment</span>
                    }
                </div>
                <div class="user-cell actions">
                    <div class="mr-20 hover-pointer dropdown-trigger" data-user-id="@item.RoomId">
                        <span class="ddicon">&#8942;</span>
                    </div>
                </div>
            </li>
        }

    </ul>
    <div class="dropdown-action">
        <ul>
            <li>
                <button type="button" class="btn-status" onclick="displayModal('#editRoomModal'); getRoomDetails(this, '#editRoomModal', 'GetRoomDetails', 'Admin');">
                    <i class="fas fa-edit" style=" font-size: 10px;"></i> Edit
                </button>
            </li>
            <li>
                <button type="button" class="btn-status" onclick="displayModal('#confirmationDeleteModal'); passRoomId(this, '#confirmDeleteBtn');">
                    <i class="fas fa-trash-alt" style="color: #FF0000; font-size: 10px;"></i> Delete
                </button>
            </li>
        </ul>
    </div>

    </ul>
</div>

@section scripts {
}
