@model ASI.Basecode.Services.ServiceModels.RoomViewModelList

@{
    ViewData["Title"] = "Index";
}

<div class="dashboard-header">
    <h1>Rooms</h1>
    <button type="button" class="create-user-btn" onclick=""> <img src="~/img/add-logo.png" />Create Room</button>
</div>

<div class="table-container">
    <div class="user-row header">
        <div class="user-cell">ROOM ID</div>
        <div class="user-cell">ROOM NAME</div>
        <div class="user-cell">DESCRIPTION</div>
        <div class="user-cell">CAPACITY</div>
        <div class="user-cell">LOCATION</div>
        <div class="user-cell">EQUIPMENT</div>
        <div class="user-cell"></div>
    </div>
    <ul class="user-list">
        @foreach (var item in Model.roomList)
        {
            <li class="user-row">
                <div class="user-cell" data-label="USER ID">@Html.DisplayFor(modelItem => item.RoomId)</div>
                <div class="user-cell" data-label="EMAIL">@Html.DisplayFor(modelItem => item.RoomName)</div>
                <div class="user-cell" data-label="FIRST NAME">@Html.DisplayFor(modelItem => item.Description)</div>
                <div class="user-cell" data-label="LAST NAME">@Html.DisplayFor(modelItem => item.Capacity)</div>
                <div class="user-cell" data-label="ROLE">@Html.DisplayFor(modelItem => item.Location)</div>
            </li>
        }

    </ul>
</div>



@section scripts {
    <script>

    </script>
}
