@model ASI.Basecode.Services.ServiceModels.RoomViewModelList

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.roomList.FirstOrDefault().RoomId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.roomList.FirstOrDefault().RoomName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.roomList.FirstOrDefault().RoomDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.roomList.FirstOrDefault().RoomLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.roomList.FirstOrDefault().RoomCapacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.roomList.FirstOrDefault().RoomFacility)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
 @foreach (var item in Model.roomList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoomId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomCapacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomFacility)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { Id = item.RoomId }) |
                    @Html.ActionLink("Details", "Details", new { Id = item.RoomId }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
